@tailwind base;
body {
	@apply font-inter bg-main;
}
@tailwind components;
@tailwind utilities;

@layer components {
	.swiper-slider {
		@apply flex gap-4;
	}
}

@layer components {
	.ongoing-grid {
		@apply grid grid-cols-3 grid-rows-2 gap-4 pt-4;
	}
	.ongoing-grid-container {
		@apply overflow-hidden;
	}
	.ongoing-items {
		@apply relative rounded-md overflow-hidden;
	}
	.ongoing-episode {
		@apply bg-orange text-[8px] px-2 py-0.5 shadow-md rounded-r-md top-4 absolute z-10;
	}
	.ongoing-episode-p {
		@apply font-bold text-white;
	}
	.ongoing-title {
		@apply text-xs pt-2 font-bold text-dark h-12;
	}
	.ongoing-title-p {
		@apply overflow-hidden text-ellipsis;
	}
}

@layer components {
	.completed-grid {
		@apply grid grid-cols-3 grid-rows-2 gap-4 pt-4;
	}
	.completed-grid-container {
		@apply overflow-hidden;
	}
	.completed-items {
		@apply relative rounded-md overflow-hidden;
	}
	.completed-episode {
		@apply bg-red-400 text-[8px] px-2 py-0.5 shadow-md rounded-r-md top-4 absolute z-10;
	}
	.completed-episode-p {
		@apply font-bold text-white;
	}
	.completed-title {
		@apply text-xs pt-2 font-bold text-dark h-auto;
	}
	.completed-title-p {
		@apply overflow-hidden text-ellipsis;
	}
}

@layer components {
	.movie-grid {
		@apply grid grid-cols-2  gap-4 pt-4;
	}
	.movie-episode {
		@apply bg-blue-400 text-[8px] px-2 py-0.5 shadow-md rounded-r-md top-4 absolute z-10;
	}
	.movie-episode-p {
		@apply font-bold text-white text-base;
	}
	.movie-title {
		@apply text-base pt-2 font-bold text-dark h-auto;
	}
	.movie-title-p {
		@apply overflow-hidden text-ellipsis;
	}
}

@layer components {
	.completednew-episode {
		@apply bg-orange text-[8px] px-2 py-0.5 shadow-md rounded-r-md top-4 absolute z-10;
	}
	.completednew-episode-p {
		@apply font-bold text-white;
	}
}

@layer components {
	.flex-between {
		@apply flex justify-between items-center;
	}
	.list-menu {
		@apply w-full bg-main-abu rounded-md px-2 font-semibold text-dark text-xl py-1 cursor-pointer hover:bg-orange hover:text-white;
	}
	.menu-active {
		@apply bg-orange text-white;
	}
	.nonactive {
		@apply -top-[35rem];
	}
	.active {
		@apply -top-0;
	}
}
