@tailwind base;
body {
	@apply font-inter bg-main;
}

@tailwind components;
@tailwind utilities;

@layer components {
	.swiper-slider {
		@apply flex gap-4;
	}
}

@layer components {
	.ongoing-grid {
		@apply grid grid-cols-3 grid-rows-2 gap-4 pt-4 lg:grid-cols-5;
	}
	.ongoing-grid-container {
		@apply overflow-hidden;
	}
	.ongoing-items {
		@apply relative rounded-md overflow-hidden;
	}
	.ongoing-episode {
		@apply bg-orange text-[8px] md:text-2xl px-2 py-0.5 shadow-md rounded-r-md top-4 absolute z-10;
	}
	.ongoing-episode-p {
		@apply font-bold text-white;
	}
	.ongoing-title {
		@apply text-xs md:text-2xl pt-2 font-bold text-dark h-auto;
	}
	.ongoing-title-p {
		@apply overflow-hidden text-ellipsis lg:mb-6;
	}
	.label-hari {
		@apply font-semibold -z-10 text-dark text-xl md:text-2xl;
	}
}

@layer components {
	.completed-grid {
		@apply grid grid-cols-3 grid-rows-2 gap-4 pt-4 lg:pt-8 lg:grid-cols-5;
	}
	.completed-grid-container {
		@apply overflow-hidden;
	}
	.completed-items {
		@apply relative rounded-md overflow-hidden;
	}
	.completed-episode {
		@apply bg-red-400 text-[8px] md:text-2xl px-2 py-0.5 shadow-md rounded-r-md top-4 absolute z-10;
	}
	.completed-episode-p {
		@apply font-bold text-white;
	}
	.completed-title {
		@apply text-xs md:text-2xl pt-2 font-bold text-dark h-auto;
	}
	.completed-title-p {
		@apply overflow-hidden text-ellipsis lg:mb-6;
	}
}

@layer components {
	.movie-grid {
		@apply grid grid-cols-2 lg:grid-cols-4 gap-4 pt-4 lg:pt-8;
	}
	.movie-episode {
		@apply bg-blue-400 text-[8px] px-2 py-0.5 shadow-md rounded-r-md top-4 absolute z-10;
	}
	.movie-episode-p {
		@apply font-bold text-white text-base md:text-2xl;
	}
	.movie-title {
		@apply text-base md:text-2xl  pt-2 font-bold text-dark h-auto;
	}
	.movie-title-p {
		@apply overflow-hidden text-ellipsis lg:mb-6;
	}
}

@layer components {
	.completednew-episode {
		@apply bg-orange text-[8px] md:text-2xl  px-2 py-0.5 shadow-md rounded-r-md top-4 absolute z-10;
	}
	.completednew-episode-p {
		@apply font-bold text-white;
	}
}

@layer components {
	.flex-between {
		@apply flex justify-between items-center;
	}
	.list-menu {
		@apply w-full bg-main-abu rounded-md px-2 font-semibold text-dark text-xl md:text-2xl py-1 md:py-2 cursor-pointer hover:bg-orange hover:text-white;
	}
	.list-menu-desktop {
		@apply font-semibold text-dark text-xl py-1 cursor-pointer hover:text-orange;
	}
	.menu-active {
		@apply bg-orange text-white;
	}
	.menu-active-desktop {
		@apply text-orange;
	}
	.nonactive {
		@apply -top-[100rem];
	}
	.active {
		@apply -top-0;
	}
}

@layer components {
	.detail-dua-bar {
		@apply w-full h-12 bg-orange flex justify-center items-center text-white;
	}
	.container-detail-episode {
		@apply py-4 flex flex-col gap-3;
	}
	.detail-episode {
		@apply relative lg:flex bg-dark hover:bg-orange w-full h-16 rounded-lg flex items-center gap-4 px-2;
	}
	.detail-episode-icon {
		@apply bg-detail-icon w-12 h-12 rounded-lg flex justify-center items-center;
	}
	.detail-episode:hover .detail-episode-icon {
		@apply bg-dark;
	}
	.detail-episode-title {
		@apply font-medium text-white;
	}
}
